node-red/.flows.json.backup
[
    {
        "id": "82585838acbacbb2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "32525ad6c5cd5b5c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4f295c75d3c33dc8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "00df11dbf86dc40f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.71.0.132",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a72959910ae5baa1",
        "type": "mongodb2",
        "uri": "mongodb://mongo:27017/metropole",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "6fcde0db7cbf9450",
        "type": "mqtt in",
        "z": "82585838acbacbb2",
        "name": "",
        "topic": "fechadura",
        "qos": "0",
        "datatype": "json",
        "broker": "4f295c75d3c33dc8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "446ea4f905fd8337"
            ]
        ]
    },
    {
        "id": "ae1e89d5abde5e78",
        "type": "mqtt in",
        "z": "82585838acbacbb2",
        "name": "",
        "topic": "abrirPorta",
        "qos": "0",
        "datatype": "json",
        "broker": "4f295c75d3c33dc8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "a1ab4a6aef42f530"
            ]
        ]
    },
    {
        "id": "74723aada64a67f6",
        "type": "mqtt in",
        "z": "82585838acbacbb2",
        "name": "",
        "topic": "trancaPorta",
        "qos": "0",
        "datatype": "auto",
        "broker": "4f295c75d3c33dc8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "a142c7021ece2f86"
            ]
        ]
    },
    {
        "id": "f8f3a0a61e99f25b",
        "type": "aedes broker",
        "z": "82585838acbacbb2",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "d99613c45c61af82"
            ],
            [
                "d99613c45c61af82"
            ]
        ]
    },
    {
        "id": "446ea4f905fd8337",
        "type": "debug",
        "z": "82585838acbacbb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "a1ab4a6aef42f530",
        "type": "debug",
        "z": "82585838acbacbb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "a142c7021ece2f86",
        "type": "debug",
        "z": "82585838acbacbb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "d99613c45c61af82",
        "type": "debug",
        "z": "82585838acbacbb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "cdf6ed97bfa49ce3",
        "type": "aedes broker",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "c5880a2669ae67d7"
            ],
            [
                "c5880a2669ae67d7"
            ]
        ]
    },
    {
        "id": "11d7784c4a7bab86",
        "type": "mqtt in",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "topic": "status",
        "qos": "0",
        "datatype": "json",
        "broker": "00df11dbf86dc40f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "7529b2c5d53c4d5e",
                "46466d0a46dd0a1d"
            ]
        ]
    },
    {
        "id": "441767277320cdcd",
        "type": "mqtt in",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "topic": "mqttemperatura",
        "qos": "0",
        "datatype": "json",
        "broker": "00df11dbf86dc40f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "4932aa99c0685325"
            ]
        ]
    },
    {
        "id": "7529b2c5d53c4d5e",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "4932aa99c0685325",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "c5880a2669ae67d7",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "4e0cfdbdf147dba3",
        "type": "mongodb2 in",
        "z": "32525ad6c5cd5b5c",
        "service": "_ext_",
        "configNode": "a72959910ae5baa1",
        "name": "",
        "collection": "arcondicionado",
        "operation": "",
        "x": 460,
        "y": 420,
        "wires": [
            [
                "41c6e94a936118b5"
            ]
        ]
    },
    {
        "id": "41c6e94a936118b5",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "46466d0a46dd0a1d",
        "type": "function",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "func": "const mqtt = msg.payload\nmsg.collection = \"arcondicionado\"\nmsg.operation=\"updateOne\"\nconst hora = new Date()\nmsg.payload=[\n    {\"local\":mqtt.local, \"mac\":mqtt.mac},\n    {$push:\n    {\"temperatura\":\n        { \n            \"movimento\":mqtt.movimento,\n            \"temperatura\": mqtt.Temperatura ,\n            \"time\": mqtt.hora,\n            \"evaporadora\" :mqtt.evaporadora,\n            \"condensadora\":mqtt.condensadora\n        }\n    },\n    $set:{\"ultimoacesso\":hora.getTime(), \"condesadora\":mqtt.condensadora, \"evaporadora\":mqtt.evaporadora}}\n    ]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 480,
        "wires": [
            [
                "4e0cfdbdf147dba3",
                "9df6c76321bf63f7"
            ]
        ]
    },
    {
        "id": "9df6c76321bf63f7",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "aa78ab10c597b719",
        "type": "catch",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 800,
        "wires": [
            [
                "b1a93586455d0dda"
            ]
        ]
    },
    {
        "id": "b1a93586455d0dda",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 800,
        "wires": []
    },
    {
        "id": "1750337e42a61178",
        "type": "mqtt out",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "topic": "memoria",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "00df11dbf86dc40f",
        "x": 460,
        "y": 620,
        "wires": []
    },
    {
        "id": "cfc4a72c6cf4f616",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 580,
        "wires": []
    },
    {
        "id": "c6c88422f6f27a92",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "8965458ed7b0247d",
        "type": "switch",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "property": "payload.etapa",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ligado",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "novaTemp",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "fa014946490a8b40",
                "6f7545b81ba63e58"
            ],
            [
                "90c4d577525da182"
            ]
        ]
    },
    {
        "id": "fa014946490a8b40",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "90c4d577525da182",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "1034ab3755268e93",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "6f7545b81ba63e58",
        "type": "change",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "t24",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 580,
        "wires": [
            [
                "1750337e42a61178",
                "cfc4a72c6cf4f616"
            ]
        ]
    },
    {
        "id": "acb5c2a2b8987269",
        "type": "mqtt in",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "topic": "tempideal",
        "qos": "0",
        "datatype": "json",
        "broker": "00df11dbf86dc40f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "8965458ed7b0247d"
            ]
        ]
    }
]