node-red/.flows.json.backup
[
    {
        "id": "32525ad6c5cd5b5c",
        "type": "tab",
        "label": "Redacao-01",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9823b9b22e98967c",
        "type": "tab",
        "label": "ArTransmissor",
        "disabled": true,
        "info": ""
    },
    {
        "id": "bc0a343073c1bb36",
        "type": "tab",
        "label": "AR-redaçao-entrada",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6fddfb2387c4149a",
        "type": "tab",
        "label": "AR-redaçao-reuniao",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4f295c75d3c33dc8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "00df11dbf86dc40f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.71.0.132",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a72959910ae5baa1",
        "type": "mongodb2",
        "uri": "mongodb://mongo:27017/metropole",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "58653eca164e1773",
        "type": "mongodb2",
        "uri": "mongodb://10.71.0.2:27017/metropole",
        "name": "MONGO RADIO",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "3b47f3f85bed85dc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "629d10a655c1db27",
        "type": "mongodb2",
        "uri": "mongodb://10.71.0.2:27017/metropole",
        "name": "MQTT METROPOLE",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "32b383223df87aa4",
        "type": "mongodb2",
        "uri": "mongodb://10.71.0.2:27017/metropole",
        "name": "MONGO RADIO",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "cdf6ed97bfa49ce3",
        "type": "aedes broker",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "c5880a2669ae67d7"
            ],
            [
                "c5880a2669ae67d7"
            ]
        ]
    },
    {
        "id": "11d7784c4a7bab86",
        "type": "mqtt in",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "topic": "status",
        "qos": "0",
        "datatype": "json",
        "broker": "00df11dbf86dc40f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "7529b2c5d53c4d5e",
                "46466d0a46dd0a1d",
                "4e0cfdbdf147dba3"
            ]
        ]
    },
    {
        "id": "441767277320cdcd",
        "type": "mqtt in",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "topic": "mqttemperatura",
        "qos": "0",
        "datatype": "json",
        "broker": "00df11dbf86dc40f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "4932aa99c0685325"
            ]
        ]
    },
    {
        "id": "7529b2c5d53c4d5e",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "4932aa99c0685325",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "c5880a2669ae67d7",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "4e0cfdbdf147dba3",
        "type": "mongodb2 in",
        "z": "32525ad6c5cd5b5c",
        "service": "_ext_",
        "configNode": "a72959910ae5baa1",
        "name": "",
        "collection": "arcondicionado",
        "operation": "",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "41c6e94a936118b5"
            ]
        ]
    },
    {
        "id": "41c6e94a936118b5",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "46466d0a46dd0a1d",
        "type": "function",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "func": "const mqtt = msg.payload\nmsg.collection = \"arcondicionado\"\nmsg.operation=\"updateOne\"\nconst hora = new Date()\nmsg.payload=[\n    {\"local\":mqtt.local, \"mac\":mqtt.mac},\n    {$push:\n    {\"temperatura\":\n        { \n            \"movimento\":mqtt.movimento,\n            \"temperatura\": mqtt.Temperatura ,\n            \"time\": mqtt.hora,\n            \"evaporadora\" :mqtt.evaporadora,\n            \"condensadora\":mqtt.condensadora\n        }\n    },\n    $set:{\"ultimoacesso\":hora.getTime(), \"condesadora\":mqtt.condensadora, \"evaporadora\":mqtt.evaporadora}}\n    ]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 280,
        "wires": [
            [
                "9df6c76321bf63f7"
            ]
        ]
    },
    {
        "id": "9df6c76321bf63f7",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "aa78ab10c597b719",
        "type": "catch",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 580,
        "wires": [
            [
                "b1a93586455d0dda"
            ]
        ]
    },
    {
        "id": "b1a93586455d0dda",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 580,
        "wires": []
    },
    {
        "id": "1750337e42a61178",
        "type": "mqtt out",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "topic": "memoria",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "00df11dbf86dc40f",
        "x": 860,
        "y": 500,
        "wires": []
    },
    {
        "id": "cdf05c378f697c03",
        "type": "function",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "func": "// especifica o lugar no banco de dados para pesquisar (função-findOne)\nconst mqtt = msg.payload\nmsg.collection = \"arcondicionado\"\nmsg.operation = \"findOne\"  //funcao do mongo\nmsg.payload = [{\"local\" : mqtt.local , \"mac\" : mqtt.mac}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 500,
        "wires": [
            [
                "4447deb01f60415f",
                "deb651c83ba7f6cd"
            ]
        ]
    },
    {
        "id": "4447deb01f60415f",
        "type": "mongodb2 in",
        "z": "32525ad6c5cd5b5c",
        "service": "_ext_",
        "configNode": "58653eca164e1773",
        "name": "",
        "collection": "",
        "operation": "",
        "x": 440,
        "y": 460,
        "wires": [
            [
                "333c41e623b7c4af",
                "cfc4a72c6cf4f616"
            ]
        ]
    },
    {
        "id": "333c41e623b7c4af",
        "type": "function",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "func": "if(msg.payload != 0 || msg.payload != undefined ){\n    const data = new Date()\n    const dataSemana = data.getDay() //pega dia da semana\n    msg.payload = {\n        \"agenda\" : msg.payload.agenda[dataSemana],\n        \"tempIdeal\" : msg.payload.temperaturaIdeal\n        \n    }  //array especifico do dia da semana\n    return [msg, null];\n} else {\n    msg.payload=\"false\"\n    return [null, msg]\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 500,
        "wires": [
            [
                "1750337e42a61178",
                "cfc4a72c6cf4f616"
            ],
            [
                "1750337e42a61178",
                "d830a49950d2d6fe"
            ]
        ]
    },
    {
        "id": "c4a451aae92c9522",
        "type": "aedes broker",
        "z": "9823b9b22e98967c",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "a38fe42055fb5f10"
            ],
            [
                "a38fe42055fb5f10"
            ]
        ]
    },
    {
        "id": "652eac781d5ea256",
        "type": "mqtt in",
        "z": "9823b9b22e98967c",
        "name": "",
        "topic": "status",
        "qos": "0",
        "datatype": "json",
        "broker": "00df11dbf86dc40f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "0fc0591ceb71c8c1",
                "4cc69d78324d35ca"
            ]
        ]
    },
    {
        "id": "04946b84a7d747ba",
        "type": "mqtt in",
        "z": "9823b9b22e98967c",
        "name": "",
        "topic": "mqttemperatura",
        "qos": "0",
        "datatype": "json",
        "broker": "00df11dbf86dc40f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "3b8ad7be90454792"
            ]
        ]
    },
    {
        "id": "0fc0591ceb71c8c1",
        "type": "debug",
        "z": "9823b9b22e98967c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "3b8ad7be90454792",
        "type": "debug",
        "z": "9823b9b22e98967c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "a38fe42055fb5f10",
        "type": "debug",
        "z": "9823b9b22e98967c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "6f688d7799702f37",
        "type": "mongodb2 in",
        "z": "9823b9b22e98967c",
        "service": "_ext_",
        "configNode": "a72959910ae5baa1",
        "name": "",
        "collection": "arcondicionado",
        "operation": "",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "e9cb979076bc8412"
            ]
        ]
    },
    {
        "id": "e9cb979076bc8412",
        "type": "debug",
        "z": "9823b9b22e98967c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "4cc69d78324d35ca",
        "type": "function",
        "z": "9823b9b22e98967c",
        "name": "",
        "func": "const mqtt = msg.payload\nmsg.collection = \"arcondicionado\"\nmsg.operation=\"updateOne\"\nconst hora = new Date()\nmsg.payload=[\n    {\"local\":mqtt.local, \"mac\":mqtt.mac},\n    {$push:\n    {\"temperatura\":\n        { \n            \"movimento\":mqtt.movimento,\n            \"temperatura\": mqtt.Temperatura ,\n            \"time\": mqtt.hora,\n            \"evaporadora\" :mqtt.evaporadora,\n            \"condensadora\":mqtt.condensadora\n        }\n    },\n    $set:{\"ultimoacesso\":hora.getTime(), \"condesadora\":mqtt.condensadora, \"evaporadora\":mqtt.evaporadora}}\n    ]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 320,
        "wires": [
            [
                "6f688d7799702f37",
                "1a5c38ebf86978b6"
            ]
        ]
    },
    {
        "id": "1a5c38ebf86978b6",
        "type": "debug",
        "z": "9823b9b22e98967c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "fbd43c678ff80e7f",
        "type": "catch",
        "z": "9823b9b22e98967c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 740,
        "wires": [
            [
                "fc9da33b7dddd2bc"
            ]
        ]
    },
    {
        "id": "fc9da33b7dddd2bc",
        "type": "debug",
        "z": "9823b9b22e98967c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 740,
        "wires": []
    },
    {
        "id": "9020fd5c5e4986d7",
        "type": "mqtt in",
        "z": "9823b9b22e98967c",
        "name": "",
        "topic": "tempideal",
        "qos": "0",
        "datatype": "json",
        "broker": "00df11dbf86dc40f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "484a857569866ae3",
                "d869f76e421e6e1f"
            ]
        ]
    },
    {
        "id": "484a857569866ae3",
        "type": "switch",
        "z": "9823b9b22e98967c",
        "name": "",
        "property": "payload.etapa",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ligado",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "novaTemp",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 560,
        "wires": [
            [
                "4213ad8cd8090ee0",
                "7fe66e26eda4e3d1"
            ],
            [
                "967da13f3010744d"
            ]
        ]
    },
    {
        "id": "4213ad8cd8090ee0",
        "type": "debug",
        "z": "9823b9b22e98967c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 500,
        "wires": []
    },
    {
        "id": "967da13f3010744d",
        "type": "debug",
        "z": "9823b9b22e98967c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "7fe66e26eda4e3d1",
        "type": "change",
        "z": "9823b9b22e98967c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "24",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 640,
        "wires": [
            [
                "414ec46d34fe3fd9",
                "02ef2e7c7b7de7d2"
            ]
        ]
    },
    {
        "id": "02ef2e7c7b7de7d2",
        "type": "debug",
        "z": "9823b9b22e98967c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "414ec46d34fe3fd9",
        "type": "mqtt out",
        "z": "9823b9b22e98967c",
        "name": "",
        "topic": "memoria",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "00df11dbf86dc40f",
        "x": 560,
        "y": 700,
        "wires": []
    },
    {
        "id": "d869f76e421e6e1f",
        "type": "debug",
        "z": "9823b9b22e98967c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 440,
        "wires": []
    },
    {
        "id": "5817525d3bd3d2b6",
        "type": "inject",
        "z": "9823b9b22e98967c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "7fe66e26eda4e3d1"
            ]
        ]
    },
    {
        "id": "b748133128d8c134",
        "type": "mqtt in",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "topic": "tempideal",
        "qos": "0",
        "datatype": "json",
        "broker": "00df11dbf86dc40f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "7b18a6cbfbaf4e2e",
                "ec788dc0b63823e3"
            ]
        ]
    },
    {
        "id": "7b18a6cbfbaf4e2e",
        "type": "switch",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "property": "payload.etapa",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ligado",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "937851f5edc130c3",
                "cdf05c378f697c03"
            ]
        ]
    },
    {
        "id": "937851f5edc130c3",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 400,
        "wires": []
    },
    {
        "id": "ec788dc0b63823e3",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 340,
        "wires": []
    },
    {
        "id": "940fad0c65bd2f3a",
        "type": "mqtt out",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "topic": "permissaoResposta",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "00df11dbf86dc40f",
        "x": 320,
        "y": 700,
        "wires": []
    },
    {
        "id": "fa29f85d3b94393b",
        "type": "mqtt in",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "topic": "permissao",
        "qos": "0",
        "datatype": "auto",
        "broker": "00df11dbf86dc40f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 80,
        "y": 640,
        "wires": [
            [
                "25c9dda55114aeb1"
            ]
        ]
    },
    {
        "id": "25c9dda55114aeb1",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 640,
        "wires": []
    },
    {
        "id": "bc4d77e52970a62e",
        "type": "inject",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 700,
        "wires": [
            [
                "940fad0c65bd2f3a"
            ]
        ]
    },
    {
        "id": "cfc4a72c6cf4f616",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "deb651c83ba7f6cd",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 520,
        "wires": []
    },
    {
        "id": "d830a49950d2d6fe",
        "type": "debug",
        "z": "32525ad6c5cd5b5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "43a832f6b392270c",
        "type": "mongodb2 in",
        "z": "bc0a343073c1bb36",
        "service": "_ext_",
        "configNode": "629d10a655c1db27",
        "name": "",
        "collection": "arcondicionado",
        "operation": "",
        "x": 1250,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "0238e9486bcb6328",
        "type": "function",
        "z": "bc0a343073c1bb36",
        "name": "status 1",
        "func": "if(msg.payload.temperatura < 0 ){\n    var mensagem = \"🚨 <b>PROBLEMAS NA LEITURA DO ARCONDICIONADO</b> 🚨\\n\"\n    mensagem += \"IP     :   \"+msg.payload.ip+\"\\n\"\n    mensagem += \"SERIAL :   \"+msg.payload.mac+\"\\n\"\n    mensagem += \"LOCAL :    \"+msg.payload.local+\"\\n\"\n    mensagem += \"EVAPORADORA     :   \"+msg.payload.evaporadora+\"\\n\"\n    mensagem += \"CONDENSADORA :   \"+msg.payload.condensadora+\"\\n\"\n    mensagem += \"TEMPERATURA :    \"+msg.payload.temperatura+\"\\n\"\n    mensagem += \"MOVIMENTO :    \"+msg.payload.movimento+\"\\n\"\n\n    msg.payload = {\n        \"chatId\"    :   \"-1001496174680\",\n        \"type\"      :   \"message\",\n        \"content\"   :   mensagem,\n        \"parse_mode\":   \"html\"\n    }\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"html\"}\n\n    return [null,msg]\n}\nmsg.mqtt = msg.payload\nmsg.collection = \"arcondicionado\"\nmsg.operation=\"findOne\"\nconst hora = new Date()\nmsg.payload={\"local\":msg.mqtt.local, \"mac\":msg.mqtt.mac}\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "3c65a81a71b99283"
            ],
            [
                "1153559444acf465"
            ]
        ]
    },
    {
        "id": "ce42831f02ced04b",
        "type": "mongodb2 in",
        "z": "bc0a343073c1bb36",
        "service": "_ext_",
        "configNode": "629d10a655c1db27",
        "name": "",
        "collection": "",
        "operation": "",
        "x": 660,
        "y": 340,
        "wires": [
            [
                "680449ca68797918"
            ]
        ]
    },
    {
        "id": "07a9f7a679b95e69",
        "type": "http in",
        "z": "bc0a343073c1bb36",
        "name": "",
        "url": "/statusAr",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "7d0faace1591a869"
            ]
        ]
    },
    {
        "id": "680449ca68797918",
        "type": "http response",
        "z": "bc0a343073c1bb36",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "7d0faace1591a869",
        "type": "function",
        "z": "bc0a343073c1bb36",
        "name": "",
        "func": "msg.collection = \"arcondicionado\"\nmsg.operation = \"findOne\"\nmsg.payload = [{\"local\":msg.payload.local, \"mac\":msg.payload.mac}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "ce42831f02ced04b"
            ]
        ]
    },
    {
        "id": "3c65a81a71b99283",
        "type": "mongodb2 in",
        "z": "bc0a343073c1bb36",
        "service": "_ext_",
        "configNode": "629d10a655c1db27",
        "name": "",
        "collection": "arcondicionado",
        "operation": "",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "298fa62d280cd53f",
                "0cf2943708383f88"
            ]
        ]
    },
    {
        "id": "298fa62d280cd53f",
        "type": "function",
        "z": "bc0a343073c1bb36",
        "name": "status 2",
        "func": "msg.collection = \"arcondicionado\"\nmsg.operation=\"updateOne\"\nconst hora = new Date()\nif( msg.mqtt.temperatura !== msg.payload.temperaturaAtual || msg.mqtt.movimento !== msg.payload.movimentoAtual || msg.mqtt.condensadora !== msg.payload.condensadora || msg.mqtt.evaporadora !== msg.payload.evaporadora){\n    msg.payload=[\n    {\"local\":msg.mqtt.local, \"mac\":msg.mqtt.mac},\n    {$push:\n    {\"temperatura\":\n        { \n            \"movimento\":msg.mqtt.movimento,\n            \"temperatura\": msg.mqtt.temperatura ,\n            \"time\": msg.mqtt.hora,\n            \"evaporadora\" :msg.mqtt.evaporadora,\n            \"condensadora\":msg.mqtt.condensadora\n        }\n    },\n    $set:{\n        \"ultimoacesso\":hora.getTime(), \n        \"condensadora\":msg.mqtt.condensadora, \n        \"evaporadora\":msg.mqtt.evaporadora, \n        \"ip\":msg.mqtt.ip,\n        \"temperaturaAtual\": msg.mqtt.temperatura, \n        \"movimentoAtual\":msg.mqtt.movimento}}\n    ]\n    return [msg,null];\n}\nreturn [null,msg];\n\n\n\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 100,
        "wires": [
            [
                "43a832f6b392270c",
                "1e63784cce739c95"
            ],
            [
                "7616ac6e87c92064"
            ]
        ]
    },
    {
        "id": "73a3bbdf5a1608aa",
        "type": "catch",
        "z": "bc0a343073c1bb36",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 600,
        "y": 920,
        "wires": [
            [
                "2ff5dd774264b585"
            ]
        ]
    },
    {
        "id": "2ff5dd774264b585",
        "type": "debug",
        "z": "bc0a343073c1bb36",
        "name": "ERRRORR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 920,
        "wires": []
    },
    {
        "id": "acb923d66d98ce06",
        "type": "debug",
        "z": "bc0a343073c1bb36",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 700,
        "wires": []
    },
    {
        "id": "1153559444acf465",
        "type": "debug",
        "z": "bc0a343073c1bb36",
        "name": "status2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "1e63784cce739c95",
        "type": "debug",
        "z": "bc0a343073c1bb36",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 40,
        "wires": []
    },
    {
        "id": "0cf2943708383f88",
        "type": "debug",
        "z": "bc0a343073c1bb36",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "7616ac6e87c92064",
        "type": "debug",
        "z": "bc0a343073c1bb36",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 160,
        "wires": []
    },
    {
        "id": "73df4a63f7a525dc",
        "type": "debug",
        "z": "bc0a343073c1bb36",
        "name": "status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 20,
        "wires": []
    },
    {
        "id": "92baa1c6d9921896",
        "type": "mqtt in",
        "z": "bc0a343073c1bb36",
        "name": "",
        "topic": "tempideal3",
        "qos": "0",
        "datatype": "json",
        "broker": "00df11dbf86dc40f",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "564b463efc75e67c",
                "9471561d0ab5e459"
            ]
        ]
    },
    {
        "id": "c26b7a337c7cf138",
        "type": "mqtt out",
        "z": "bc0a343073c1bb36",
        "name": "",
        "topic": "memoria3",
        "qos": "0",
        "retain": "",
        "broker": "00df11dbf86dc40f",
        "x": 1160,
        "y": 520,
        "wires": []
    },
    {
        "id": "564b463efc75e67c",
        "type": "switch",
        "z": "bc0a343073c1bb36",
        "name": "",
        "property": "payload.etapa",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ligado",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "10c033e2e779f7fb"
            ]
        ]
    },
    {
        "id": "10c033e2e779f7fb",
        "type": "function",
        "z": "bc0a343073c1bb36",
        "name": "",
        "func": "// especifica o lugar no banco de dados para pesquisar (função-findOne)\nconst mqtt = msg.payload\nmsg.collection = \"arcondicionado\"\nmsg.operation = \"findOne\"  //funcao do mongo\nmsg.payload = [{\"local\" : mqtt.local , \"mac\" : mqtt.mac}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "47165a80c016f534"
            ]
        ]
    },
    {
        "id": "47165a80c016f534",
        "type": "mongodb2 in",
        "z": "bc0a343073c1bb36",
        "service": "_ext_",
        "configNode": "32b383223df87aa4",
        "name": "",
        "collection": "",
        "operation": "",
        "x": 740,
        "y": 520,
        "wires": [
            [
                "23f3229222ae4487"
            ]
        ]
    },
    {
        "id": "23f3229222ae4487",
        "type": "function",
        "z": "bc0a343073c1bb36",
        "name": "",
        "func": "const data = new Date()\nconst dataSemana = data.getDay() //pega dia da semana\nmsg.payload = {\n    \n    \"agenda\" : msg.payload.agenda[dataSemana],\n    \"tempIdeal\" : msg.payload.temperaturaIdeal\n    \n}  //array especifico do dia da semana\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 520,
        "wires": [
            [
                "c26b7a337c7cf138"
            ]
        ]
    },
    {
        "id": "055479929aa451b5",
        "type": "mqtt in",
        "z": "bc0a343073c1bb36",
        "name": "",
        "topic": "status3",
        "qos": "0",
        "datatype": "json",
        "broker": "3b47f3f85bed85dc",
        "nl": false,
        "rap": false,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "0238e9486bcb6328",
                "b8e33323ee69756c",
                "73df4a63f7a525dc"
            ]
        ]
    },
    {
        "id": "d0a7d880e67c27ac",
        "type": "mqtt out",
        "z": "bc0a343073c1bb36",
        "name": "",
        "topic": "permissaoResposta3",
        "qos": "",
        "retain": "",
        "broker": "00df11dbf86dc40f",
        "x": 340,
        "y": 940,
        "wires": []
    },
    {
        "id": "7c83ba6db43864a7",
        "type": "inject",
        "z": "bc0a343073c1bb36",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 940,
        "wires": [
            [
                "d0a7d880e67c27ac"
            ]
        ]
    },
    {
        "id": "f3a9ae455e35e5c7",
        "type": "mqtt in",
        "z": "bc0a343073c1bb36",
        "name": "",
        "topic": "permissao3",
        "qos": "0",
        "datatype": "auto",
        "broker": "00df11dbf86dc40f",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "acb923d66d98ce06"
            ]
        ]
    },
    {
        "id": "b8e33323ee69756c",
        "type": "debug",
        "z": "bc0a343073c1bb36",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "9471561d0ab5e459",
        "type": "debug",
        "z": "bc0a343073c1bb36",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 580,
        "wires": []
    },
    {
        "id": "7532b9d4507e6738",
        "type": "mongodb2 in",
        "z": "6fddfb2387c4149a",
        "service": "_ext_",
        "configNode": "629d10a655c1db27",
        "name": "",
        "collection": "arcondicionado",
        "operation": "",
        "x": 1230,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d279bbfefda1bb38",
        "type": "function",
        "z": "6fddfb2387c4149a",
        "name": "status 1",
        "func": "if(msg.payload.temperatura > 30 ){\n    var mensagem = \"🚨 <b>PROBLEMAS NA LEITURA DO ARCONDICIONADO</b> 🚨\\n\"\n    mensagem += \"IP     :   \"+msg.payload.ip+\"\\n\"\n    mensagem += \"SERIAL :   \"+msg.payload.mac+\"\\n\"\n    mensagem += \"LOCAL :    \"+msg.payload.local+\"\\n\"\n    mensagem += \"EVAPORADORA     :   \"+msg.payload.evaporadora+\"\\n\"\n    mensagem += \"CONDENSADORA :   \"+msg.payload.condensadora+\"\\n\"\n    mensagem += \"TEMPERATURA :    \"+msg.payload.temperatura+\"\\n\"\n    mensagem += \"MOVIMENTO :    \"+msg.payload.movimento+\"\\n\"\n\n    msg.payload = {\n        \"chatId\"    :   \"-1001496174680\",\n        \"type\"      :   \"message\",\n        \"content\"   :   mensagem,\n        \"parse_mode\":   \"html\"\n    }\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"html\"}\n\n    return [null,msg]\n}\nmsg.mqtt = msg.payload\nmsg.collection = \"arcondicionado\"\nmsg.operation=\"findOne\"\nconst hora = new Date()\nmsg.payload={\"local\":msg.mqtt.local, \"mac\":msg.mqtt.mac}\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "b92dedf81a81cd61",
                "423fdb0b99efd968"
            ],
            []
        ]
    },
    {
        "id": "b92dedf81a81cd61",
        "type": "mongodb2 in",
        "z": "6fddfb2387c4149a",
        "service": "_ext_",
        "configNode": "629d10a655c1db27",
        "name": "",
        "collection": "arcondicionado",
        "operation": "",
        "x": 570,
        "y": 80,
        "wires": [
            [
                "d297ba01f3baeb6d",
                "c6e6a5ad338a6a4f"
            ]
        ]
    },
    {
        "id": "d297ba01f3baeb6d",
        "type": "function",
        "z": "6fddfb2387c4149a",
        "name": "status 2",
        "func": "msg.collection = \"arcondicionado\"\nmsg.operation=\"updateOne\"\nconst hora = new Date()\nif( msg.mqtt.temperatura !== msg.payload.temperaturaAtual || msg.mqtt.movimento !== msg.payload.movimentoAtual || msg.mqtt.condensadora !== msg.payload.condensadora || msg.mqtt.evaporadora !== msg.payload.evaporadora){\n    msg.payload=[\n    {\"local\":msg.mqtt.local, \"mac\":msg.mqtt.mac},\n    {$push:\n    {\"temperatura\":\n        { \n            \"movimento\":msg.mqtt.movimento,\n            \"temperatura\": msg.mqtt.temperatura ,\n            \"time\": msg.mqtt.hora,\n            \"evaporadora\" :msg.mqtt.evaporadora,\n            \"condensadora\":msg.mqtt.condensadora\n        }\n    },\n    $set:{\n        \"ultimoacesso\":hora.getTime(), \n        \"condensadora\":msg.mqtt.condensadora, \n        \"evaporadora\":msg.mqtt.evaporadora, \n        \"ip\":msg.mqtt.ip,\n        \"temperaturaAtual\": msg.mqtt.temperatura, \n        \"movimentoAtual\":msg.mqtt.movimento}}\n    ]\n    return [msg,null];\n}\nreturn [null,msg];\n\n\n\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 860,
        "y": 120,
        "wires": [
            [
                "7532b9d4507e6738",
                "a679c11c4002f6ab"
            ],
            [
                "f033cdc55961d80c"
            ]
        ]
    },
    {
        "id": "a9f2bf7a17312ac9",
        "type": "catch",
        "z": "6fddfb2387c4149a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 580,
        "y": 940,
        "wires": [
            [
                "3ec07dbdbdc7faf8"
            ]
        ]
    },
    {
        "id": "3ec07dbdbdc7faf8",
        "type": "debug",
        "z": "6fddfb2387c4149a",
        "name": "ERRRORR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 940,
        "wires": []
    },
    {
        "id": "23ed71b4d72835be",
        "type": "debug",
        "z": "6fddfb2387c4149a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 720,
        "wires": []
    },
    {
        "id": "423fdb0b99efd968",
        "type": "debug",
        "z": "6fddfb2387c4149a",
        "name": "status2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "a679c11c4002f6ab",
        "type": "debug",
        "z": "6fddfb2387c4149a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 60,
        "wires": []
    },
    {
        "id": "c6e6a5ad338a6a4f",
        "type": "debug",
        "z": "6fddfb2387c4149a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "f033cdc55961d80c",
        "type": "debug",
        "z": "6fddfb2387c4149a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 180,
        "wires": []
    },
    {
        "id": "110cba1edd898f4b",
        "type": "mqtt in",
        "z": "6fddfb2387c4149a",
        "name": "",
        "topic": "status2",
        "qos": "0",
        "datatype": "json",
        "broker": "3b47f3f85bed85dc",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "d279bbfefda1bb38",
                "94d6cfe0ab315f0a"
            ]
        ]
    },
    {
        "id": "94d6cfe0ab315f0a",
        "type": "debug",
        "z": "6fddfb2387c4149a",
        "name": "status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "964698513b89c054",
        "type": "mqtt in",
        "z": "6fddfb2387c4149a",
        "name": "",
        "topic": "permissao2",
        "qos": "0",
        "datatype": "auto",
        "broker": "00df11dbf86dc40f",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "23ed71b4d72835be"
            ]
        ]
    },
    {
        "id": "8687da6a97e94312",
        "type": "mqtt out",
        "z": "6fddfb2387c4149a",
        "name": "",
        "topic": "permissaoResposta2",
        "qos": "",
        "retain": "",
        "broker": "00df11dbf86dc40f",
        "x": 320,
        "y": 900,
        "wires": []
    },
    {
        "id": "528385f8ef567ccb",
        "type": "inject",
        "z": "6fddfb2387c4149a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 70,
        "y": 900,
        "wires": [
            [
                "8687da6a97e94312"
            ]
        ]
    },
    {
        "id": "82fe152f56acd45b",
        "type": "mqtt in",
        "z": "6fddfb2387c4149a",
        "name": "",
        "topic": "tempideal2",
        "qos": "0",
        "datatype": "json",
        "broker": "00df11dbf86dc40f",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "d1ae0aa49ee79594",
                "7b9ee5a2a95ca559"
            ]
        ]
    },
    {
        "id": "3560f5b768672358",
        "type": "mqtt out",
        "z": "6fddfb2387c4149a",
        "name": "",
        "topic": "memoria2",
        "qos": "0",
        "retain": "",
        "broker": "00df11dbf86dc40f",
        "x": 1140,
        "y": 480,
        "wires": []
    },
    {
        "id": "d1ae0aa49ee79594",
        "type": "switch",
        "z": "6fddfb2387c4149a",
        "name": "",
        "property": "payload.etapa",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ligado",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "5f662d6004e40512"
            ]
        ]
    },
    {
        "id": "5f662d6004e40512",
        "type": "function",
        "z": "6fddfb2387c4149a",
        "name": "",
        "func": "// especifica o lugar no banco de dados para pesquisar (função-findOne)\nconst mqtt = msg.payload\nmsg.collection = \"arcondicionado\"\nmsg.operation = \"findOne\"  //funcao do mongo\nmsg.payload = [{\"local\" : mqtt.local , \"mac\" : mqtt.mac}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 480,
        "wires": [
            [
                "2eca01047cc8f5d1"
            ]
        ]
    },
    {
        "id": "2eca01047cc8f5d1",
        "type": "mongodb2 in",
        "z": "6fddfb2387c4149a",
        "service": "_ext_",
        "configNode": "32b383223df87aa4",
        "name": "",
        "collection": "",
        "operation": "",
        "x": 720,
        "y": 480,
        "wires": [
            [
                "ba5a7c59352dd343"
            ]
        ]
    },
    {
        "id": "ba5a7c59352dd343",
        "type": "function",
        "z": "6fddfb2387c4149a",
        "name": "",
        "func": "const data = new Date()\nconst dataSemana = data.getDay() //pega dia da semana\nmsg.payload = {\n    \n    \"agenda\" : msg.payload.agenda[dataSemana],\n    \"tempIdeal\" : msg.payload.temperaturaIdeal\n    \n}  //array especifico do dia da semana\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 480,
        "wires": [
            [
                "3560f5b768672358"
            ]
        ]
    },
    {
        "id": "7da1bd544a5bd803",
        "type": "debug",
        "z": "6fddfb2387c4149a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "7b9ee5a2a95ca559",
        "type": "debug",
        "z": "6fddfb2387c4149a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 600,
        "wires": []
    }
]